

    <!-- Incluindo o Header: -->
    <%- include('./partials/header') %>


    <main>
        <!-- aqui vem o cadastro -->
    </main>

<!-- Incluindo o Footer: -->
<%- include('./partials/footer') %>