@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    font-size: 24px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 122px;
    padding: 0 30px;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}

header ul {
    font-size: 24px;
    list-style-type: none;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    color: #777777;
}

footer {
    width: 100%;
    background-color: #C2185B;
    padding: 20px 100px;
    display: flex;
    color:#FFFFFF;
    font-weight: lighter;
}

footer div.footerlogo {
    width: 250px;
}

footer div.footerlist {
    display: flex;
    width: 100%;
    margin-left: 20%;
    justify-content: space-around;
}

footer div p {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
}

footer div ul {
    flex-direction: column;
    color: inherit;
    font-size: 20px;
    line-height: 27px;
    padding-top: 20px;
    display: unset;
}

body h1 {
    margin: 60px 10% 35px;
    color: #575757;
    font-weight: 600;
    font-size: 39px;
    line-height: 53px;
}

section {
    display: flex;
    margin: 0 10% 60px;
    justify-content: space-between;
}

section div {
    width: 45%;
}

section div p {
    margin: 0 0 20px 0;
}

section div form select {
    width: 100%;
    margin-bottom: 20px;
}

section div form label {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
}

section div form textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

section div form {
    font-family: Roboto;
    size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #9B9B9B;
}

section form div {
    width: auto;
    display: flex;
    margin: 10px 0;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

input.submit {
    width: 100%;
    background-color: #C2185B;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 22px;
    border: none;
    /* Exercício 2: Transitions */
    transition: all 3s;
}

/* Exercício 2: Transitions */
input.submit:hover {
    background-color: #FFFFFF;
    color: #C2185B;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
}

input.checkbox {
    width: auto;
}

input.checkbox::before {
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    border: none;
    content: "";
    background: #c4c4c4;
}

input.checkbox::after {
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border: none;
    content: "";
}

input.checkbox:checked::after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC), linear-gradient(
135deg, #B1B6BE 0%,#FFF 100%);
}

input.radio {
    width: auto;
}

input.radio::before {
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    content: "";
    background: #c4c4c4;
}

input.radio::after {
    position: relative;
    display: block;
    left: 3px;
    top: -10px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    content: "";
}

input.radio:checked::after {
    background-image: url(https://w7.pngwing.com/pngs/752/449/png-transparent-at-sign-computer-icons-radio-button-miscellaneous-monochrome-black-thumbnail.png);
}

section form div.curriculo label {
    width: 20%;
}

#curriculo-button {
    background-color: #C4C4C4;
    width: 120px;
    height: 21px;
    color: #FFFFFF;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

/* Exercício 1: Frete Grátis + Sticky + z-index */
.banner {
    background-color: #C2185B;
    width: 100%;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    /* Exercício 1: Frete Grátis + Sticky + z-index */
    /* z-index: 15; */
    /* Imagino que não tenha funcionado no meu por conta do position. Pelo que vi, é necessário ter um atributo position
    para que o z-index funcione. Além disso, coloquei o texto como elemento filho da faixa, o que também pode ser o que está
    atrapalhando o atributo z-index. */
}

/* .aviso {
    color: #FFFFFF;
    font-size: 24px;
    /* Exercício 1: Frete Grátis + Sticky + z-index */
    /* z-index: 1; */
/* } */

/* Teste do Exercício 1, o elemento .aviso abaixo deve ser usado com o elemento p fora da faixa. */

.aviso {
    width: 100%;
    height: 60px;
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
    /* z-index: 1; */
}

.banner0 {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
}

/* Realmente, estando os dois elementos dentro do mesmo elemento pai, o z-index funciona como esperado. */